html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.footer {
  background: linear-gradient(rgb(65, 64, 64), rgb(24, 23, 23)); /* Black to white gradient */
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: auto; /* Pushes the footer to the bottom */
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background for better contrast */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer-section:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.section-heading {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #6B21A8; /* Purple color */
  font-weight: bold;
}

.section-content {
  font-size: 1em;
  margin-bottom: 5px;
}

.contact-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #f0f0f0; /* Lighter color on hover */
  text-decoration: underline;
}

.footer-bottom {
  border-top: 2px solid #ffffff;
  padding-top: 10px;
}

.footer-text {
  font-size: 0.9em;
}
